h1 {
    padding-left: 0px;
    font-size: 100px;
    color: blue;
  }
  
  img {
    display: block;
    margin: 0 auto;
    width: 10%;
    position: relative;
    left: -10px;
  }
  
  .error-output {
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
  }
  
  .body {
    margin: 0px;
    border-color: black;  
    border-width: .25em;  
    border-style: inset;
    padding-left: 200px;
    padding-right: 30px;
    background-color : orange  
  }
  
  pre {
    font-family:verdana  
  }
  
  .input-position {
    text-align: center;
  }